.title-header {
  background: #ccc;
  padding: 5px 10px 4px 24px;
  font-size: em(11);
  text-transform: uppercase;
  border-radius: 3px;
  margin-bottom: 10px;
  position: relative;
  font-weight: 700;

  &:before {
    @include position(absolute, 0 nil 0 10px);
    margin: auto;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background: rgba(#000, 0.2);
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 5px;
    border-radius: 2px;
  }
}
